<!DOCTYPE html>
<html>
  <head>
    <title>VueTodo</title>
  </head>
  <body>
    <section id="todoapp" class="todoapp">
      <header>
        <h1>todos</h1>
        <p>{{currentRoute}}</p>
          <input
          v-model.trim="newTodo"
          @keyup.enter="addTodo"
          @keydown.esc="clearTodo"><br/>
         <p>{{ newTodo }}</p>
      </header>
      <section>
        <input type="checkbox" v-model="allDone">Toggle all: {{allDone}}
        <button @click="removeCompleted" v-show="todos.length > remaining">Clear completed</button>
        <ul>
          <li v-for="todo in filteredTodos">
            <div>
             <input class="toggle" type="checkbox" v-model="todo.completed"> Toggle
             <label><strong>{{todo}}</strong></label>
             <button @click="removeTodo(todo)"></button>Destroy list item
           </div>
           <input>List Item Edit Box
          </li>
        </ul>
      </section>
      <!-- This footer was orginally inside top section. Not sure why. Leaving it here for now -->
      <!-- If I leave it as a "footer", I suppose that makes sense -->
      <!-- But I want to understand why it should be a footer instead of just a div -->
      <!-- Update, I understand now. The top section represents the DOM element that -->
      <!-- the VUE component is mounted to. It has to close here so the rest of the -->
      <!-- document will be in scope -->
      <footer>
        <span v-show="todos.length"><h5>Todo Count: {{remaining}}</h5></span>
        <ul>
          <li><a href="#/all">All</a></li>
          <li><a href="#/active">Active</a></li>
          <li><a href="#/completed">Completed</a></li>
          <section>
          <!-- <li><a href="#/all" :class="{ selected: currentRoute == 'all' }">All</a></li> -->
          <!-- <li><a href="#/active" :class="{ selected: currentRoute == 'active' }">Active</a></li> -->
          <!-- <li><a href="#/completed" :class="{ selected: currentRoute == 'completed' }">Completed</a></li> -->
          <!-- I'm really not sure what these bind thingys are doing since the route is being set-->
          <!-- in the JavaScript by the onHashChange function... -->
          <!-- I think they might be for changing the CSS class -->
          </section>
        </ul>
      </footer>
      </section>
      <footer>
      <p>Double-click to edit a todo</p>
      <p>Attribution info here: </p>
      <p>Attribution info here:</p>
    <br/>
    </footer>
    <script src="./dist/build.js"></script>
  </body>
</html>
